*{
    margin: 0;
    padding: 0;
}
/*一个点*/
.contain{
    width:70%;
    padding: 100px;
    margin: auto;
    background-color: #232323;
    display: flex;
    flex-flow: row wrap;
}
.box{
    margin: 20px;
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 10px solid white;
    background-color: #E7E7E7;
    border-radius:20px;
    display: flex;
}
.item{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 30px;
}
.box_1-2{
    justify-content: center;
}
.box_1-3{
    justify-content: flex-end;
}
.box_2-1{
    align-items: center;
}
.box_2-2{
    justify-content:center;
    align-items: center;
}
.box_2-3{
    justify-content: flex-end;
    align-items:center;
}
.box_3-1{
    justify-content: flex-start;
    align-items: flex-end;
}
.box_3-2{
    justify-content: center;
    align-items: flex-end;
}
.box_3-3{
    justify-content: flex-end;
    align-items: flex-end;
}
/*两个点*/
.box_2A{
    justify-content: space-between;
}
.box_2B{
    align-items: center;
    justify-content: space-between;
}
.box_2C{
    align-items: flex-end;
    justify-content: space-between;
}
.box_2D{
    flex-direction: column;
    justify-content: space-between;
}
.box_2E{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box_2F{
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.box_2G{
    justify-content: space-between;
}
.item_2G{
    align-self: center;
}
.box_2H{
    justify-content: space-between;
}
.item_2H{
    align-self: flex-end;
}
/*三个点*/
.box_3I{
    justify-content: space-between;
}
.item_3I-1{
    align-self: center;
}
.item_3I-2{
    align-self: flex-end;
}
.box_3J{
    justify-content: space-between;
}
.box_3K{
    justify-content: space-between;
}
.item_3K-1{
    align-self: center;
}
.box_3L{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*+++++++++++++四个点+++++++++++++++++*/
.box_4A{
    justify-content: space-between;
}
.item_4A-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box_4B{
    flex-direction: column;
    justify-content: space-between;
}
.item_4B-1{
    display: flex;
    justify-content: center;
}
.item_4B-2{
    display: flex;
    justify-content: space-between;
}
/*++++++++++++++五个点+++++++++++*/